 @charset "utf-8";
/* CSS Document */

/* general styles */
html, body {
  height: 100%;
  width: 100%;
}

.whiteText {
  color: #FFFFFF;
}

.whiteTextShadow {
  color: #FFFFFF;
  text-shadow: #000 1px 1px 2px;
}

/* padded section */
.pad-section {
  padding: 50px 0;
}


/* vertical-centered text */
.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.text-vcenter h1 {
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

/* additional sections */
#camo-grad {
  background: url(http://www.cf-mil-oss.org/images/camo-grad2.png) no-repeat center center fixed; 
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
}

#home {
  background: url(http://www.cf-mil-oss.org/images/digital_camo_HiveLight2.png) no-repeat center center fixed; 
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  padding-bottom: 20px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#about {
  background: url(http://www.cf-mil-oss.org/images/digital_camo_HiveMedium.png) no-repeat center center fixed; 
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  padding: 100px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#events {
  background: url(http://www.cf-mil-oss.org/images/digital_camo_HiveDark.png) no-repeat center center fixed; 
  display: table;
  height: 250px;
  position: relative;
  width: 100%;
  padding: 50px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#social {
  background: url(http://www.cf-mil-oss.org/images/digital_camo_HiveDark.png) no-repeat center center fixed; 
  display: table;
  height: 250px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.lowOpacity {
  opacity: 0.5;
}

#home .panel {
  opacity: 1.0;
}

#information .panel {
  opacity: 1.0;
}

#portfolio {
  background: url(http://www.cf-mil-oss.org/images/camo.jpg) no-repeat center center fixed; 
  display: table;
  height: 400px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



#mapp {
  height: 500px;
  width: 500px;
}

footer {
  padding: 0px 0;
}
footer .glyphicon {
  color: #333333;
  font-size: 60px;
}
footer .glyphicon:hover {
  color: #306d9f;
}

.frontPage {
  vertical-align: middle;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sponsors {
  background-color: #E5E5E5;
  display: table;
  height: 70px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}